.header{
    margin: 50px 0 50px;
    position: relative;
}
.header::after{
    content:'';
    width: 700px;
    height: 600px;
    background-image: url('./../../../public/images/header/Abstract\ Design.png');
    background-repeat: no-repeat;
    background-position: center;
    position: absolute;
    left: -10px;
    top: -100px;
    z-index: -1;
}
.header__inner{
    border-radius: 100px;
    background-color: #1C1C1C;
    padding: 27px 34px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo{
    display: flex;
    align-items: center;
    gap: 5px;
}
.header__menu{
    display: flex;
    align-items: center;
    gap: 26px;
}